<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{title}}!
    </h1>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]=false [zoomControl]=false (mapClick)="mapClicked($event)" >
        <agm-marker *ngFor="let w of waypoints; let i = index" (markerClick)="clickedWaypoint(w, i)" [latitude]="w.lat" [longitude]="w.lng" [markerDraggable]="w.draggable" (dragEnd)="waypointDragEnd(w, $event)" >
          <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
              <ng-template>
                {{ w.name }}
                <a class='del' (click)='removeWaypoint(w)'>Remove waypoint</a>
              </ng-template>
          </agm-snazzy-info-window>
        </agm-marker>
    </agm-map>

<hr>
    <h1>Add a Waypoint</h1>
    <form (submit)='addWaypoint()'>
      <label>Location</label>
      <input type='text' [(ngModel)]="waypointName" name="waypointName">

      <label>Latitude</label>
      <input type='text' [(ngModel)]="waypointLat" name="waypointLat">

      <label>longitude</label>
      <input type='text' [(ngModel)]="waypointLng" name="waypointLng">

      <label>Draggable</label>
      <select [(ngModel)]="waypointDraggable" name="waypointDraggable">
        <option value='no'>No</option>
        <option value='yes'>Yes</option>
      </select>

      <label>Assign Driver to this waypoint.</label>
      <input type='text' [(ngModel)]="waypointDriver" name="waypointDriver">
      
      <input type='submit' value='Add Waypoint!'>
    </form>